<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="My suite" thread-count="4">
  <suite-files>
    <suite-file path="./RegressionSuite.xml" />
    <suite-file path="./APISuite.xml" />
    <suite-file path="./SmokeSuite.xml" />
    <suite-file path="./UnitSuite.xml" />
  </suite-files>
</suite>